<div class="container my-5">
  <div class="row">
    <h2>会員情報</h2>
  </div>

  <div class="row mt-3">
    <div class="offset-sm-1 col-sm-10">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>名前</th>
    	    <th><%= @customer.last_name %><%= @customer.first_name %></th>
        </tr>
        <tr>
      	  <th>メールアドレス</th>
      	  <th><%= @customer.email %></th>
        </tr>
        <tr>
      	  <th>郵便番号</th>
      	  <th><%= @customer.post_number %></th>
        </tr>
        <tr>
      	  <th>住所</th>
      	  <th><%= @customer.address %></th>
        </tr>
        <tr>
      	  <th>電話番号</th>
      	  <th><%= @customer.telephone_number %></th>
        </tr>
      </table>
      <div class="row">
      <table class="table table-hover">
        <tr>
          <th><%= link_to "編集する", edit_customer_path, class: "btn btn-success public_customers_edit" %></th>
          <th><%= link_to "配送先一覧", addresses_path,class: "btn btn-primary" %></th>
          <th><%= link_to "注文履歴一覧", orders_path, class: "glyphicon glyphicon-folder-open btn btn-info" %></th>
        </tr>
      </thead>
    </table>
    </div>
    </div>
 </div>


