<div class="container my-5">
  <div class="row">
    <h2 clacc>Log in</h2>
  </div>
<div class="row mt-3 flex-column align-items-center">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group row">
    <%= f.label :メール, class: "col-sm-5" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-7" %>
  </div>

  <div class="form-group row">
    <%= f.label :パスワード, class: "col-sm-5" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-7" %>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="form-group " >
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
  </div>
  <% end %>

  <div class="row">
    <%= f.submit "Log in", class: "mt-3 mx-auto" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
